/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*   ======   Starting Here   ======   */
* {
  font-family: 'Sulphur Point', sans-serif;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 3.5%;
}
header nav a {
  text-decoration: none;
  color: gray;
}
@media (max-width: 767px) {
  header nav {
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  header nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2%;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}
main section {
  padding-bottom: 5%;
}
main p {
  line-height: 1.3em;
}
main .top-sect img {
  width: 40%;
  margin: 0 30%;
}
main .top-sect .myName {
  font-size: 170%;
  text-align: center;
}
main .top-sect .tagline {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
main .top-sect .based {
  text-align: center;
  padding-top: 2.2%;
}
main .top-sect .button {
  border: 1px solid black;
  background-color: green;
  padding: 2% 1%;
}
main .bottom-sect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main .bottom-sect div {
  width: 100%;
  padding-bottom: 3%;
}
main .bottom-sect h2 {
  font-size: 140%;
  font-weight: bold;
  padding: 1.15%;
  margin-bottom: 2.5%;
  border-bottom: 2.5px solid black;
  width: 24%;
}
main .bottom-sect .hobbies {
  margin: 0 auto;
}
main .bottom-sect .hobbies h3 {
  font-size: 120%;
  font-weight: bold;
  padding: 1.15%;
  margin-bottom: 2.5%;
  border-bottom: 2.5px solid black;
  width: 23%;
}
main .bottom-sect .hobbies p {
  line-height: 1.2;
}
main .bottom-sect .work h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2.5%;
  padding: 1.5%;
  border-bottom: 2.5px solid black;
  width: 18%;
}
main .bottom-sect .work div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
main .bottom-sect .work .t-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
main .bottom-sect .work .t-row p {
  padding-bottom: 1%;
  border-bottom: 1px solid grey;
}
main .bottom-sect .work .t-row .t-head {
  line-height: 1.7rem;
}
